@inherits LayoutComponentBase

<div class="page d-flex flex-column">
    <header class="w-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand fs-1 text-center" href="#">
                    <img class="img-fluid" src="images/Logo.png" style="width: 40px;" />
                </a>
                <a class="navbar-brand fs-1" href="#">
                    <span class="" style="font-family: 'Old English Text MT';">Casa DavLex</span>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
